{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}

<div class="container">
<div class="row" style="margin-top:20px">

    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		{% if msg %}
		<div class="alert alert-success">
			<strong>{{ msg|escape }}</strong>
		</div>
		{% endif%}
		{% if form.errors %}
		{% for field in form %}
			{% for error in field.errors %}
				<div class="alert alert-danger">
					<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
		{% endfor %}
		{% for error in form.non_field_errors %}
			<div class="alert alert-danger">
				<strong>{{ error|escape }}</strong>
			</div>
		{% endfor %}
	{% endif %}
		<form role="form" method="post">
            {% csrf_token %}
			<fieldset>
				<h2>New Note</h2>
				<hr class="colorgraph">
				{{ form|crispy }}
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Create">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<a href="/notes/share" class="btn btn-lg btn-primary btn-block">List Shared Notes</a>
					</div>
				</div>
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<a href="/notes/list" class="btn btn-lg btn-info btn-block">List My Notes</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>

</div>
</div>
{% endblock %}

